body {
    background-color: #900D09;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #0000ff;
    color: black;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    margin-bottom: 20px;
}
